.card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-color: #469fbf;
    border-radius: 0 0 4px 4px;
}

.goodscard-title {
    font-size: 22px;
    font-weight: 500;
}

.goodscard-descr {
    font-size: 18px;
    font-weight: 500;
}

.card-text {
    font-size: 14px;
}

.goods-card-footer {
    display: flex;
    align-items: center;
}
