.warehouse-content {
    position: relative;
    width: 100%;
    padding: 10px;
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-color: #469fbf;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.warehouse-control-panel {
    padding-bottom: 10px;
    display: flex;
    align-items: last baseline;
}

.list-sort-block {
    display: flex;
    align-items: flex-end;
    width: 60%;
}

.sort-panel-label {
    margin-right: 40px;
    font-weight: 700;
    font-size: 12px;
}

.sort-link {
    font-style: italic;
    font-size: 14px;
    margin-right: 65px;
    cursor: pointer;
}

a:not([href]):not([tabindex]).sort-link_active {
    color: #469fbf;
    text-decoration: underline;
}


a:not([href]):not([tabindex]).sort-link:hover {
    text-decoration: underline;
}

a:not([tabindex]).sort-link {
    color: inherit;
}

/* Блок печати и работы с рабочим списком */
.list-control-block {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 40%;
}

.worklist-link, .worklist-link-clean {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #469fbf;
    border-radius: 4px;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    cursor: pointer;
}

    .worklist-link:hover {
        background-color: #469fbf;
        transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    }

a:not([href]):not([tabindex]).worklist-link:hover {
    color: #fff;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

a:not([href]):not([tabindex]).worklist-link:active {
    color: #fff;
    background-color: #469fbf;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 8px -5px inset;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

.worklist-link-clean {
    border: 1px solid #f71065;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

.worklist-link-clean_hide {
    visibility: hidden;
}

a:not([href]):not([tabindex]).worklist-link-clean {
    color: #f71065;
    transition: 0.3s all ease-in-out;
}

    a:not([href]):not([tabindex]).worklist-link-clean:hover {
        color: #fff;
        background-color: #f71065;
        transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    }

    a:not([href]):not([tabindex]).worklist-link-clean:active {
        color: #fff;
        background-color: #f71065;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 8px -5px inset;
        transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    }

.warehouse-table {
    width: 100%;
    overflow-y: auto;
}

.goods-row {
    color: #333;
}

.goods-row-selected {
    color: #f71065;
}

.goods-cell {
    color: inherit;
    font-weight: inherit;
    font-size: 12px
}

.control-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-control.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 26px !important;
    height: 26px !important;
    font-size: 12px;
}

.item-control {
    cursor: pointer;
}

/*Category-Sort*/

.category-title {
    font-size: 20px;
}