.tab-item_active {
    background-color: #fff;
    box-shadow: unset;
}

.warehouse-content {
    position: relative;
    width: 100%;
    padding: 10px;
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-color: #469fbf;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.warehouse-control-panel {
    min-height: 40px;
    padding-bottom: 10px;
    display: flex;
    align-items: last baseline;
}

.list-sort-block {
    display: flex;
    align-items: flex-end;
    width: 80%;
}

.sort-panel-label {
    margin-right: 30px;
    font-weight: 700;
    font-size: 12px;
}

.sort-link {
    font-style: italic;
    font-size: 14px;
    margin-right: 25px;
    cursor: pointer;
}

a:not([href]):not([tabindex]).sort-link_active {
    color: #469fbf;
    text-decoration: underline;
}


a:not([href]):not([tabindex]).sort-link:hover {
    text-decoration: underline;
}

a:not([tabindex]).sort-link {
    color: inherit;
}

/* list-search-block */
.list-search-block {
    display: flex;
    align-items: flex-start;
}

.list-search-block__input {
    padding: 3px 7px;
    margin-right: 15px;
    height:28px;
    font-size: 12px;
    line-height: 26px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;
    cursor: pointer;
}

.list-search-block__input:focus {
    outline: none;
}

.list-search-block__btn {
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;
    cursor: pointer;
}

.list-search-block__btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.list-search-block__btn:active {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.list-search-block label span {
    margin-right: 10px;
    font-weight: 700;
    font-size: 12px;
}

.goods-search__empty-info {
    padding: 15px 0 0 10px;
    align-self: flex-start;
}

/* Блок печати и работы с рабочим списком */
.list-control-block {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 40%;
}

.worklist-link, .worklist-link-clean {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #469fbf;
    border-radius: 4px;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    cursor: pointer;
}

    .worklist-link:hover {
        background-color: #469fbf;
        transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    }

a:not([href]):not([tabindex]).worklist-link:hover {
    color: #fff;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

a:not([href]):not([tabindex]).worklist-link:active {
    color: #fff;
    background-color: #469fbf;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 8px -5px inset;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

.worklist-link-clean {
    border: 1px solid #f71065;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

.worklist-link-clean_hide {
    visibility: hidden;
}

a:not([href]):not([tabindex]).worklist-link-clean {
    color: #f71065;
    transition: 0.3s all ease-in-out;
}

    a:not([href]):not([tabindex]).worklist-link-clean:hover {
        color: #fff;
        background-color: #f71065;
        transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    }

    a:not([href]):not([tabindex]).worklist-link-clean:active {
        color: #fff;
        background-color: #f71065;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 8px -5px inset;
        transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    }

.warehouse-table {
    width: 100%;
    overflow-y: auto;
}

.goods-row {
    color: #333;
}

.goods-row-selected {
    color: #f71065 !important;
}

.goods-remaining-low {
    color: blue;
}

.goods-cell {
    color: inherit;
    font-weight: inherit;
    font-size: 12px
}

.control-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-control.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 26px !important;
    height: 26px !important;
    font-size: 12px;
}

.item-control {
    cursor: pointer;
}

/*Category-Sort*/

.category-title {
    font-size: 20px;
}