<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - АртСклад</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body>
    <header class="container header">
        <div class="header-content">
            <div class="main-title-group">
                <div class="main-logo"></div>
                <div class="main-title">Арт-Склад</div>
            </div>
            <nav class="main-navigation">
                @if (TempData["Enter"] != null && TempData["Enter"].ToString() == "Yes")
                {
                    <div>
                        <a class="main-navigation_link main-navigation_link-contacts">
                            <i class="far fa-address-card"></i>
                            Контакты
                        </a>
                    </div>
                    <div>
                        <a asp-controller="Info" asp-action="InfoHelp" class="main-navigation_link main-navigation_link-help">
                            <i class="far fa-question-circle"></i>
                            Помощь
                        </a>
                    </div>
                }
                else
                {
                    <div>
                        <a class="main-navigation_link">
                            <i class="far fa-address-card"></i>
                            Контакты
                        </a>
                    </div>
                    <div>
                        <a class="main-navigation_link">
                            <i class="far fa-question-circle"></i>
                            Помощь
                        </a>
                    </div>

                }
                @if (TempData["Enter"] != null && TempData["Enter"].ToString() == "Yes")
                {
                    <div class="ml-5">
                        <i class="fas fa-user-check"></i>
                        <a id="user-link-nickname" class="main-navigation_link user-link"></a>
                    </div>
                    <div>
                        <i class="fas fa-sign-out-alt"></i>
                        <a id="user-link-exit-from-account" asp-controller="Home" asp-action="Index" class="main-navigation_link">Выход</a>
                    </div>

                }
                else
                {
                    <div class="ml-5">
                        <a class="main-navigation_link user-link">Вход в систему не выполнен!</a>
                    </div>
                    <div>
                        <i class="fas fa-door-closed"></i>
                    </div>
                }
            </nav>
        </div>
        @if (TempData["Enter"] != null && TempData["Enter"].ToString() == "Yes")
        {
            <div class="main-tabs">
                <a class="tab-item" asp-controller="Warehouse" asp-action="Index">Склад</a>
                <a class="tab-item" asp-controller="Purchasing" asp-action="Index">Закупки</a>
                <a class="tab-item" asp-controller="Movement" asp-action="Index">Движение</a>
                <a class="tab-item" asp-controller="Documents" asp-action="Index">Документы</a>
            </div>
        }
        else if (TempData["Enter"] == null || TempData["Enter"].ToString() != "Yes")
        {
            <div class="main-tabs">
                <a class="tab-item">Склад</a>
                <a class="tab-item">Закупки</a>
                <a class="tab-item">Движение</a>
                <a class="tab-item">Документы</a>
            </div>
        }

    </header>
    <div class="container" style="padding: 0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

