<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - АртСклад</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body>
    <header class="container header">
        <div class="header-content">
            <div class="main-title-group">
                <div class="main-logo"></div>
                <div class="main-title">Арт-Склад</div>
            </div>
            <nav class="main-navigation">
                <div>
                    <i class="far fa-address-card"></i>
                    <a class="main-navigation_link">Контакты</a>
                </div>
                <div>
                    <i class="far fa-question-circle"></i>
                    <a class="main-navigation_link">Помощь</a>
                </div>
                <div class="ml-5">
                    <i class="fas fa-user-check"></i>
                    <a class="main-navigation_link user-link">Ляпунова А.Е.</a>
                </div>
                <div>
                    <i class="fas fa-sign-out-alt"></i>
                    <a class="main-navigation_link">Выход</a>
                </div>
            </nav>
        </div>
        @if (TempData["Enter"] != null && TempData["Enter"].ToString() == "Yes")
        {
            <div class="main-tabs">
                <a class="tab-item" asp-controller="Warehouse" asp-action="Index">Склад</a>
                <a class="tab-item" asp-controller="Purchasing" asp-action="Index">Закупки</a>
                <a class="tab-item" asp-controller="Movement" asp-action="Index">Движение</a>
                <a class="tab-item" asp-controller="Documents" asp-action="Index">Документы</a>
            </div>
        }
        else if (TempData["Enter"] == null || TempData["Enter"].ToString() != "Yes")
        {
            <div class="main-tabs">
                <a class="tab-item">Склад</a>
                <a class="tab-item">Закупки</a>
                <a class="tab-item">Движение</a>
                <a class="tab-item">Документы</a>
            </div>
        }

    </header>
    <div class="container" style="padding: 0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

